<!-- <input #input type="number" [value] = "price">

<input #input1 type="number" [value] = "discount">

<button (click)="onClick(input.value, input1.value)"> Calculate</button> -->

<div class="card" style="width: 18rem;">

  <div class="card-body">
    <h5 class="card-title">Discount Calculator</h5>
    <p class="card-text">
      <form>
        <div class="form-group">
          <label for="formGroupExampleInput">Price ($)</label>
          <input #input type="text" class="form-control" id="formGroupExampleInput" placeholder="Please enter price ($):">
        </div>
        <div class="form-group">
          <label for="formGroupExampleInput2">Discount (%)</label>
          <input #input1 type="text" class="form-control" id="formGroupExampleInput2" placeholder="Please enter a discount (%)">
        </div>
      </form>
      <button class="btn btn-primary" type="submit" (click)="onClick(input.value, input1.value)">Calculate</button>
      <button class="btn btn-primary" type="submit">Discounted price: ${{discountedPrice}}</button>
    
  </div>
</div>
<router-outlet></router-outlet>